.three_picture_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 18.6rem 0 19.4rem;
  margin-top: 7.2rem;

  .three_picture_block__images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3.3rem;

    .three_picture_block__header {
      width: 100%;
    }

    img {
      display: block;
      object-fit: contain;
      max-width: 100%;
      height: auto;
      flex: 1;
    }
  }

  .three_picture_block__bottom {
    margin-top: 7.91rem;
  }
}

@media (max-width: 923px) {
  .three_picture_block {
    padding: 3rem;
  }


}