@use "../../sass/modules/functions" as *;
@use "../../sass/modules/variables" as *;

.services_block {
  margin-top: toRem(100);
}

.services_block__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: toRem(100);
}

.services_block__grid>* {
  flex: 1 1 33%;
}

.services_block__card {
  max-width: toRem(343);

  img {
    margin: toRem(112) 0 toRem(42) 0;
  }

  .services_block__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: toRem(23);
    text-transform: uppercase;
    color: #312E2E;
    margin-bottom: toRem(28);
  }

  p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: toRem(17);
    line-height: toRem(26);
    color: #5C5C5C;
  }

  .services_block__button {
    margin-top: toRem(52);
    height: toRem(53);
    width: toRem(343);
    position: relative;
    border-top: toRem(1) solid #B3B3B3;

    p {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #4343FF;
      font-family: 'GalanoGrotesque-Bold';
      text-align: bottom;

      &:before {
        content: url('../../assets/cards/Vector.svg');
      }

      &:after {
        content: url('../../assets/cards/Vector-1.svg');
      }
    }
  }
}


@media (max-width: $screen-lg-min) {
  .services_block {
    padding: 0 8%;
  }
}