.one_picture_block {
  display: flex;
  flex-wrap: wrap;

  .one_picture_block__left {
    max-width: 34.4rem;
    min-height: 19.8rem;
    margin: 4rem 3.2rem 16.9rem 0;

    .one_picture_block__left__text {
      margin-bottom: 1.5rem;

      h3 {
        margin-bottom: 1.5rem;
      }
    }

    button {
      max-width: 19.2rem;
      min-height: 5.6rem;
      border: 1px solid #0079C8;
      border-radius: 4px;
      background: transparent;
      padding: 2rem 4rem;
      font-style: normal;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.6rem;
      color: #0079C8;
      transition: background-color .5s ease-out, color .5s ease-out;

      &:hover {
        background: #0079C8;
        color: white;
        cursor: pointer;
      }
    }
  }


  .one_picture_block__right {
    img {
      display: block;
      max-width: 100%;
    }
  }

}

@media (max-width: 923px) {
  .one_picture_block {
    justify-content: center;
    .one_picture_block__left {
      padding: 0 3%;
      margin-bottom: 4em;
    }

    .one_picture_block__right {
      padding: 0 3%;
    }
  }

}