@use "../../sass/modules/functions" as *;
@use "../../sass/modules/variables" as *;

.one_picture_block {
  max-width: toRem(1116);
  display: flex;
  flex-wrap: wrap;
}

.left_side {
  max-width: toRem(344);
  min-height: toRem(198);
  margin: toRem(40) toRem(32) toRem(169) 0;


  button {
    max-width: toRem(192);
    min-height: toRem(56);
    border: toRem(1) solid #0079C8;
    border-radius: toRem(4);
    background: transparent;
    padding: toRem(20) toRem(40);
    font-style: normal;
    font-weight: 600;
    font-size: toRem(16);
    line-height: toRem(16);
    color: #0079C8;
    transition: background-color .5s ease-out, color .5s ease-out;

    &:hover {
      background: #0079C8;
      color: white;
      cursor: pointer;
    }
  }
}

.text {
  margin-bottom: toRem(15);

  h3 {
    margin-bottom: toRem(15);
  }
}

.right_side {
  img {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: $screen-lg-min) {
  .one_picture_block {
    justify-content: center;
  }

  .left_side {
    max-width: toRem(548);
    padding: 0 3%;
    margin-bottom: 4em;
  }

  .right_side {
    padding: 0 3%;
  }

}